.headerLS {
    position: 'relative';
    h4 {
        margin-top: 5px;
        margin-left: 5px;
    }
    p {
        margin-top: 0;
        margin-left: 5px;
    }
    .anticon {
        font-size: 25px;
        margin-right: 3px;
    }
    
}

.ant-divider {
    margin: 15px 0;
    width: auto;
}

.demo-loadmore-list {
    min-height: 350px;
  }

.ant-list-item-meta-title {
    margin: 0;
}

.ant-input {
    background-color: #f4f7fa;
    // border-radius: 30px;
    // border-start-start-radius: 30px;
    // border-start-end-radius: 30px;
    // border-end-end-radius: 30px;
    // border-end-start-radius: 30px;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #f4f7fa;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-form-vertical .ant-form-item-label >label {
    font-weight: bold;
}
.ant-avatar {
    width: 50px;
    height: 50px;
}

.ant-btn {
    width: 100%;
    background-color: #5773cc;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-title {
    font-weight: bold;
}

.ant-modal-close-x {
    border-radius: 11px;
    color: white;
    background-color: #5773cc;
    .ant-modal-close-icon {
        font-size: 14px;
    }
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-header {
    margin-bottom: 0;
}