.headerLS {
    position: 'relative';
    h4 {
        margin-top: 5px;
        margin-left: 5px;
    }
    p {
        margin-top: 0;
        margin-left: 5px;
    }
    .anticon {
        font-size: 25px;
        margin-right: 3px;
    }
    
}

.ant-divider {
    margin: 15px 0;
    width: auto;
}

.demo-loadmore-list {
    min-height: 350px;
  }

.ant-list-item-meta-title {
    margin: 0;
}
