body {
  background-color: #f2f5f9;
}
.App {
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 40px;
  .leftSide {
    background-color: white;
    border-radius: 10px;
  }
  .rightSide {
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
  }
}


