.App {
  margin-top: 40px;
  margin-left: 70px;
}

.leftSide {
  border-color:brown;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.rightSide {
  border: 2px solid rgb(187, 78, 78) ;
  border-radius: 10px;
  margin-left: 20px;
}


// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
